.bg1{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg1 img{
    width: 100%;
    height: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.bg1blur{
background: linear-gradient(to right,rgba(119, 24, 24, 0.854),rgba(43, 8, 8, 0.476));
  width: 100%;
  height: 100%;
  position: absolute;
}
.bg1blurr{
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
    width: 100%;
    background-size: cover;
}
.Series{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items:center ;
    justify-content: center;
    gap: 1%;
   transform: scale(0.8);
}

.Dreborn{
    height: 65%;
    width: 25%;
    background-color: rgba(45, 45, 41, 0.426);
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: block;
}
.Dreborn.zoom{
    transform: scale(1.3);
    background-color: rgba(45, 45, 41, 0.426);
  
}

.Dreborn img{
    width: 50%;
    height: 35%;
    margin-left: 25%;
}
.Penjelasan{
    align-items: center;
    text-align: center;
    justify-content: center;
}
.Penjelasan h1{
    font-size: 5%;
    font-weight: bold;
    color: aliceblue;
}
.Penjelasan p{
    margin-top: 2%;
    font-size: 5%;
    color: aliceblue;
}
.Penjelasan h2{
    margin-top: 2%;
    font-size: 5%;
    color: aliceblue;
}
.Sambungan1{
    align-items: center;
    text-align: center;
    justify-content: center;
}
.Sambungan1 h2{
     margin-top: 2%;
    font-size: 5%;
    color: aliceblue;
}
.DArrives{
    height: 75%;
    width: 25%;
    background-color: rgba(45, 45, 41, 0.426);
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: block;
}
.DArrives img{
    width: 75%;
    height: 45%;
    margin-left: 10%;
}
.Dreturns{
    height: 65%;
    width: 25%;
    background-color: rgba(45, 45, 41, 0.426);
}

